name: Publish OpenAPI Spec to Postman

on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - '*'

jobs:
  publish-specification:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup | Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

      - name: Setup | Pip Dependencies
        run: |
          pip install -r scripts/postman-publisher/requirements.txt

      - name: Build | Publish OpenAPI Specification to Postman
        env:
          POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
          OPENAPI_SPEC_PATH: public-api.yaml
          WORKSPACE_NAME: MOSTLY AI API Reference
        run: |
          python scripts/postman-publisher/main.py
